# Compiled and binary files
*.node
*.pyc
*.class
*.o
*.exe
*.dll
*.so
*.a
*.obj
*.out

# Dependencies
.venv/
venv/
node_modules/
venv/
.venv/
__pycache__/
dist/
build/
target/
.gradle/
.mypy_cache/
.pytest_cache/

# Editors and IDEs
.vscode/
.idea/

# System and environment
.DS_Store
Thumbs.db
shell
.gitignore
.prettierignore
.prettierrc.json
.bin
.env
.env.local
*.env.*

# Logs and coverage
*.log
coverage/
htmlcov/
.coverage

# Compressed files
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
